.file-data{
        display: flex;
        align-items: center;
        justify-content: start; 
        font-size: 18px;
        flex-grow: 1;
        margin-right: 16px;
        input{
            width: 100%;
            outline: none;
            font-size: 18px;
            height: 30px;
            background-color: var(--secondary-bg);
        }
        text-overflow: ellipsis;
    }

