@use "../variables" as *;

.footer-menu-base{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1001;
    -webkit-transition-property: transform;
    transform: translateY(100%);  /* полностью скрыт вниз */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: transform 0.1s ease-out;
}

.footer-menu-base.show {
  transform: translateY(0); /* выдвигаем вверх */
}

.footer-menu-base.hide {
  transform: translateY(100%); /* убираем вниз */
}

.footer-menu{
  outline: none;
    min-height: 150px;
    display: flex;
    flex: 1;
    margin: 16px 50px;
    background-color:rgba(#222, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 24px;
    font-size: 22px;
    gap: 6px;
    align-items: center;
    justify-content:space-evenly;
    text-align: left;
    flex-direction: column;
}

.footer-menu-btn{
    display: flex;
    width: 90%;
    margin: 0 12px;
    height: 100%;
    border-color: #444444;
    align-items: center; 

}