@use "../variables" as *;

.main-header{
    display: flex;
}

.content-header{
    position: sticky;
    top:0;

    left: 0;
    width: 100%;

    z-index: 1000;

    display: flex;
    align-items: center;

    justify-content: space-between;

    padding: 10px 0;
}
