@use "../variables" as *;

.search-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    background: var(--secondary-bg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 6px 6px;
    gap: 6px;
}

.search-inside-icon {
    opacity: 1;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    opacity: 0.4;
    transition: opacity 300ms ease 0s;
}

.search-input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-primary);
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.search-wrapper:focus-within .search-inside-icon{
    opacity: 1;
}