@use "../variables" as *;

.main-toolbar{
position: fixed;
display: flex;
align-items: end;
bottom: 0px;
left: 0;
width: 100%;
padding-bottom: 8px;
}

.content-toolbar{
    padding: 6px 20px;
    border-radius: 32px;
    display: flex;
    flex: 1;
    margin: 0 140px;
    background-color: rgba(#222, 0.6);
    z-index: 1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;

    justify-content: center;
}

.select-btn{
    background-color: var(--accent-primary);
    padding: 8px;
    border-radius: 18px;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
}

.select-btn:active{
    background-color: var(--accent-hover);
}

.new-item-btn{
    display: flex;
    position: relative;
}

.new-item-menu{
    position: absolute;
    left: -50%;
    width:max-content;
    background-color: var(--tertiary-bg);
    padding: 8px 8px 32px 8px;
    border-radius: 16px 16px 0 0;
    bottom: -2px;
    z-index: 90;
}

